<!doctype html>
<html>
<head>
  <title>A game</title>
</head>
<body>
  <form action="/madlib" method="GET"><br>
    <label for="person">A person:</label><br>
    <input name="person" type="text"><br><br>
    <label for="color">A color:</label><br><br>
    <input name="color" type="checkbox" value="red">Red<br>
    <input name="color" type="checkbox" value="blue">Blue<br>
    <input name="color" type="checkbox" value="green">Green<br>
    <input name="color" type="checkbox" value="yellow">Yellow<br><br>
    <label for="noun">A noun:</label><br><br>
    <input name = "noun" type="radio" value="President">President<br>
    <input name = "noun" type="radio" value="Russian">Russian<br>
    <input name = "noun" type="radio" value="Orange chicken">Orange chicken<br>
    <input name = "noun" type="radio" value="Panda">Panda<br><br>
    <label for="adjective">An adjective:</label><br><br>
    <input name="adjective" type="text"><br><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>